.container {
  position: fixed;
  top: 98px;
  z-index: 31;
  right: 24px;
}

.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

app-add-idea-button > button {
  width: 100%;
}

mat-icon.flip {
  transform: rotate(180deg)
}
