<div class="container">
  <button mat-fab color="primary" [matMenuTriggerFor]="menu" [disabled]="!ideaCycle.active">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu" xPosition="before" yPosition="above">
  <div>
    <button mat-raised-button (click)="handleIdeaClick()">
      <mat-icon class="flip">wb_incandescent</mat-icon>
      <span appMarginLeft>Add idea</span>
    </button>
  </div>
  <div>
    <button mat-raised-button (click)="handleTaskClick()" [disabled]="ideaCycle.idea_lft === 1">
      <mat-icon>assignment</mat-icon>
      <span appMarginLeft>Add task</span>
    </button>
  </div>

</mat-menu>
