<div appPadding>
  <mat-card>
    <mat-card-title>IIK Exchange</mat-card-title>
    <mat-card-content>
      <p>This is some supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad dominoes.</p>
      <p>Blah blah, login or register with Google, blah blah.</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="handleClick()" color="primary" mat-raised-button>Login</button>
      <button (click)="handleClick(true)" color="primary" mat-button>Register</button>
    </mat-card-actions>
  </mat-card>
</div>
