<div class="app-dark-theme container">

  <app-overlay [visible]="saving">
  </app-overlay>

  <form [formGroup]="taskForm" novalidate>
    <mat-card>
      <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-content>

        <div class="task-form">
          <div>
            <mat-input-container>
                <input matInput
                  [maxlength]="titleMaxlength"
                  formControlName="title"
                  placeholder="Task title *">
                <mat-hint align="end">
                  {{taskForm.controls.title.value ? taskForm.controls.title.value.length : 0}}
                  /
                  {{titleMaxlength}}
                </mat-hint>
            </mat-input-container>
            <div class="error input-error">
              <span *ngIf="taskForm.controls.title.errors && taskForm.controls.title.touched">
                Title is required, minimum length {{titleMinlength}}
              </span>
            </div>

            <mat-input-container>
                <textarea matInput
                  [maxlength]="descriptionMaxlength"
                  formControlName="description"
                  rows="3"
                  placeholder="Task description *">
                </textarea>
                <mat-hint align="end">
                  {{taskForm.controls.description.value ? taskForm.controls.description.value.length : 0}}
                  /
                  {{descriptionMaxlength}}
                </mat-hint>
            </mat-input-container>
            <div class="error input-error">
              <span *ngIf="taskForm.controls.description.errors && taskForm.controls.description.value">
                Minimum length {{descriptionMinlength}}
              </span>
            </div>

            <app-user-picker
              title="Assignees"
              [selectedUsers]="baseTask.users"
							(usersChanged)="handleSelectedUsersChange($event)"
							(touched)="handleSelectedUsersTouched()">
						</app-user-picker>
          </div>

          <div appMarginLeft>
            <h4>Category</h4>
            <mat-radio-group formControlName="category">
              <mat-radio-button *ngFor="let category of taskCategories | async" [value]="category.id">
                {{category.title}}
              </mat-radio-button>
            </mat-radio-group>

            <h4>Create document</h4>
            <mat-radio-group formControlName="asset">
              <mat-radio-button *ngFor="let asset of taskAssets | async" [value]="asset.id">
                {{asset.title}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>


      </mat-card-content>

      <mat-card-actions class="task-form-actions">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="!taskForm.valid"
          (click)="save()">
          Save
        </button>

        <button mat-button (click)="dialogRef.close()">Cancel</button>

      </mat-card-actions>
    </mat-card>
  </form>
</div>
