.task {
  position: relative;
}

.fabs {
  position: absolute;
  right: 24px;
  top: 24px;
}

.info + .info {
  margin-top: 8px;
}

.info-heading {
  color: #76ff03;
  font-size: 12px;
  margin-bottom: 6px;
}

mat-card-footer {
  padding: 8px;
  background-color: #323232;
}

.nobody {
  font-size: 12px;
  padding-left: 8px;
}

.category {
  margin-bottom: 3px;
  display: block;
}
