<div class="task">
  <app-overlay [visible]="saving"></app-overlay>

  <mat-card>

    <div class="fabs">
      <button mat-mini-fab color="accent" style="overflow: hidden" (click)="handleEdit(task)">
        <mat-icon class="mat-24">edit</mat-icon>
      </button>

      <app-asset-fab *ngIf="task.folder_id" [task]="task"></app-asset-fab>
    </div>

    <mat-card-subtitle>{{task.idea_title}}</mat-card-subtitle>
    <mat-card-title>{{task.title}}</mat-card-title>

    <mat-card-content>
      <p>
        <b class="category">{{task.task_category_title}}</b>
        <br />
        {{task.description}}
      </p>

      <div class="info">
        <div class="info-heading">Created by</div>
        <mat-chip-list>
          <mat-chip>
            {{task.user_display_name}}
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="info">
        <div class="info-heading">Assigned to</div>
        <mat-chip-list>
          <mat-chip *ngFor="let taskUser of taskUsers">
            {{taskUser.user_display_name}}
          </mat-chip>
        </mat-chip-list>
        <div *ngIf="!taskUsers.length" class="nobody">
          Nobody
        </div>
      </div>

      <div class="info">
        <div class="info-heading">Taken on</div>
        <mat-chip-list>
          <mat-chip *ngFor="let takenOnTaskUser of takenOnTaskUsers">
            {{takenOnTaskUser.user_display_name}}
          </mat-chip>
        </mat-chip-list>
        <div *ngIf="!takenOnTaskUsers.length" class="nobody">
          Nobody
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <div *ngIf="task.completed && taskIsOwnedByIdentity && !task.accepted">
        <button mat-raised-button (click)="handleAcceptTaskAsComplete(task.id)" color="primary">
          <mat-icon>assignment_turned_in</mat-icon>
          <span appMarginLeft>Accept as complete</span>
        </button>

        <button mat-button (click)="handleRejectTaskAsComplete(task.id)" color="secondary">
          <mat-icon>assignment_return</mat-icon>
          <span appMarginLeft>Reject as complete</span>
        </button>
      </div>

      <div *ngIf="taskIsAssignedToIdentity">
        <div *ngIf="!task.completed && !taskTakenOnByIdentity">
          <button mat-raised-button (click)="handleTakeOnTask(task.id)" color="primary">
            <mat-icon>assignment_ind</mat-icon>
            <span appMarginLeft>Take on</span>
          </button>

          <button mat-button (click)="handleRejectTask(task.id)" color="secondary">
            <mat-icon>assignment_return</mat-icon>
            <span appMarginLeft>Decline</span>
          </button>
        </div>

        <div *ngIf="!task.completed && taskTakenOnByIdentity">
          <button mat-raised-button (click)="handleCompleteTask(task.id)" color="primary">
            <mat-icon>assignment_turned_in</mat-icon>
            <span appMarginLeft>Mark as complete</span>
          </button>
        </div>
      </div>
    </mat-card-actions>

  </mat-card>
</div>
