<mat-tab-group dynamicHeight="true" [selectedIndex]="tasksTabIndex">

  <mat-tab label="Assigned to me">
    <div appPadding>
      <app-user-task-list
        [tasks]="assignedTasks"
        [currentUserId]="currentUserId">
      </app-user-task-list>
    </div>
  </mat-tab>

  <mat-tab label="In progress">
    <div appPadding>
      <app-user-task-list
        [tasks]="inProgressTasks"
        [currentUserId]="currentUserId">
      </app-user-task-list>
    </div>
  </mat-tab>

  <mat-tab label="Awaiting acceptance">
    <div appPadding>
      <app-user-task-list
        [tasks]="completedTasks"
        [currentUserId]="currentUserId">
      </app-user-task-list>
    </div>
  </mat-tab>

  <mat-tab label="Accepted">
    <div appPadding>
      <app-user-task-list
        [tasks]="acceptedAsCompleteTasks"
        [currentUserId]="currentUserId">
      </app-user-task-list>
    </div>
  </mat-tab>

</mat-tab-group>
