<div class="sticky">
  <mat-toolbar color="accent">
    Abilities
  </mat-toolbar>
</div>

<div class="container">
  <div class="list-container">
    <app-ability-list
      (selected)="handleSelected($event)"
      [abilities]="abilities | async">
    </app-ability-list>
  </div>

  <div class="detail-container sticky-hack" appPadding>
    <app-add-edit-ability
      (saveAbility)="handleSaveAbility($event)"
      (deleteAbility)="handleDeleteAbility($event)"
      (mergeAbility)="handleMergeAbility($event)"
      (cancel)="handleCancel()"
      [editableAbility]="selectedAbility | async"
      [abilities]="abilities | async"
      [abilityUsers]="abilityUsers | async">
    </app-add-edit-ability>

    <app-ability-users
      [abilityUsers]="abilityUsers | async">
    </app-ability-users>

  </div>
</div>