.container {
  display: flex;
  justify-content: space-between;
}

.list-container {
  display: flex;
  height: 100%;
  overflow-y: scroll;
  flex-grow: 1;

  app-ability-list {
    width: 100%
  }
}

.detail-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 30;
}

.sticky-hack {
  position: sticky;
  top: 64px;
  z-index: 30;
}
