<mat-card>

  <mat-card-subtitle>Admin...</mat-card-subtitle>
  <mat-card-title>Edit ability</mat-card-title>
  <mat-card-content>
    <form>
      <mat-input-container name="title">
          <input matInput [(ngModel)]="internalAbility.title"
            [ngModelOptions]="{standalone: true}"
            [placeholder]="originalAbility.title ? 'Edit ' + originalAbility.title : 'Create ability *'">
      </mat-input-container>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary"
      (click)="saveAbility.emit(internalAbility)"
      [disabled]="!internalAbility.title || existingAbilityTitles.indexOf(internalAbility.title.toLowerCase()) > -1">
      {{ internalAbility.id ? 'SAVE' : 'CREATE' }}
    </button>

    <button mat-raised-button [disabled]="!originalAbility.id" (click)="cancel.emit()">
      CANCEL
    </button>

    <button mat-raised-button color="warn"
      [disabled]="(abilityUsers && abilityUsers.length > 0) || !internalAbility.id"
      (click)="deleteAbility.emit(internalAbility)">
      DELETE
    </button>

    <button mat-raised-button color="accent" [disabled]="!(
          internalAbility.id &&
          existingAbilityTitles.indexOf(internalAbility.title.toLowerCase()) > -1 &&
          internalAbility.title.toLowerCase() !== originalAbility.title.toLowerCase()
          )" (click)="mergeAbility.emit(internalAbility)">
      MERGE
    </button>

  </mat-card-actions>
</mat-card>