<button mat-mini-fab color="accent" style="overflow: hidden" (click)="handleClick($event)">
   <mat-icon *ngIf="isDocument" class="mat-24">subject</mat-icon>
   <mat-icon *ngIf="isSpreadsheet" class="mat-24">hot_tub</mat-icon>
</button>
