<mat-toolbar color="accent">
  <ul class="list">
    <li *ngFor="let idea of (ideaPath$ | async); let lastItem=last"
      class="list-item"
      (click)="handleSelected(idea.id)">
      {{idea.title}}
      <span *ngIf="!lastItem"> > </span>
    </li>
  </ul>
</mat-toolbar>
