<div *ngIf="idea">
  <div class="sticky">
    <app-idea-path
      [idea]="idea"
      (selected)="handleSelected($event)">
    </app-idea-path>
	</div>

  <div appPadding>
    <app-idea-cycle [ideaCycle]="ideaCycle$ | async" [currentUserId]="identity.id"></app-idea-cycle>
  </div>
</div>
