.container {
  margin-bottom: 8px;
  overflow-x: scroll;
}

mat-card {
  padding: 11px 24px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  white-space: nowrap;
  display: inline;
}