.container {
  min-width: 300px;
  min-height: 122px;
}

.inline-icon {
  font-size: 16px;
  line-height: 16px;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.input-container {
  display: flex;
  max-width: 300px;
}

.selected-container {
  mat-chip {
    margin-left: 0 !important;

    + mat-chip {
      margin-left: 8px !important;
    }
  }
}
