<button mat-mini-fab color="accent" style="overflow: hidden" (click)="handleClick($event)">
  <img *ngIf="pictureUrl" [src]="pictureUrl" width="40" height="40" />
  <mat-icon *ngIf="!pictureUrl" class="mat-24">person</mat-icon>
</button>