<div class="container">
  <h4 *ngIf="title">{{title}}</h4>
  <div class="input-container">
    <mat-input-container>
      <input type="text" matInput
        placeholder="Add user"
				[formControl]="user"
				(focus)="handleFocus()"
        [matAutocomplete]="auto"
        [disabled]="selectedUsers.length > 1">
    </mat-input-container>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let user of $filteredUsers | async" [value]="user">
        {{ user.display_name }}
      </mat-option>
    </mat-autocomplete>

    <button mat-mini-fab color="primary" appMarginLeft
      [disabled]="!user.value || !user.value.id || selectedUsers.length > 3"
      (click)="add(user.value)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="selected-container">
    <div *ngIf="!selectedUsers.length">
      None selected
    </div>
    <mat-chip-list>
      <mat-chip *ngFor="let selectedUser of selectedUsers" appMarginLeft
          color="accent"
          selected="true">
        {{selectedUser ? selectedUser.user_display_name : "shit"}}
        <mat-icon class="inline-icon" appMarginLeft
          (click)="remove(selectedUser)">
          delete
        </mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
