<div *ngIf="!ideaCycle" appPadding>
	Loading....
</div>

<div *ngIf="ideaCycle">
  <div *ngIf="!ideaCycle.active" class="initialise" appPadding>
    <div class="inner">
      <p>
        This idea can begin a new cycle
      </p>
      <p>
        You can start from scratch, or copy over your
        Research and AIMS documents from the previous cycle.
      </p>

      <p>
        Alternatively, you can continue with the current cycle,
        but one task must be accepted as complete in order that a
        new cycle can be created.
      </p>


      <div>
        <button mat-raised-button color="primary"
          [disabled]="initialising"
          (click)="createFreshCycle(ideaCycle.id)">
          <mat-icon>create_new_folder</mat-icon>
          <span appMarginLeft>Initialise new docs</span>
        </button>

        <button mat-raised-button color="primary"
          [disabled]="initialising"
          (click)="createCycleFromPrevious(ideaCycle.id)">
          <mat-icon>create_new_folder</mat-icon>
          <span appMarginLeft>Copy docs</span>
        </button>

        <button mat-raised-button color="primary"
          [disabled]="initialising"
          (click)="reactivate(ideaCycle.id)">
          <mat-icon>hot_tub</mat-icon>
          <span appMarginLeft>Continue with current cycle</span>
        </button>
      </div>
    </div>
  </div>

  <app-idea-fab [ideaCycle]="ideaCycle"></app-idea-fab>

  <app-idea-cycle-tree [currentUserId]="currentUserId"></app-idea-cycle-tree>
</div>
