<div class="idea-tile">
  <mat-chip-list class="cycle-chip">
    <mat-chip>Cycle {{ideaCycle.cycle}}</mat-chip>
  </mat-chip-list>

  <mat-card
    (click)="select.emit(ideaCycle.idea_id)"
    [ngClass]="{}">

    <mat-card-header>
      <img mat-card-avatar [src]="ideaCycle.user_picture_url" />
      <mat-card-subtitle>
        {{ideaCycle.user_display_name}}
      </mat-card-subtitle>
      <mat-card-title>
        {{ideaCycle.idea_title}}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
