<div>
  <mat-card>
    <mat-card-subtitle>
      {{title}} |
      {{ideaCycles.length + tasks.length}}
      {{ideaCycles.length + tasks.length === 1 ? 'item' : 'items'}}
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngFor="let ideaCycle of ideaCycles" class="tile mat-elevation-z1">
        <app-idea-tile
          [ideaCycle]="ideaCycle"
          (select)="selectIdea.emit($event)">
        </app-idea-tile>
      </div>

      <div *ngFor="let task of tasks" class="tile mat-elevation-z1">
        <app-task
          [currentUserId]="currentUserId"
          [task]="task">
        </app-task>
      </div>
    </mat-card-content>
  </mat-card>
</div>
