.container {
  display: flex;
  justify-content: space-between;
}

app-idea-state {
  margin: 4px;
  flex: 1;
}

app-idea-state:first-child {
  margin-left: 0;
}

app-idea-state:last-child {
  margin-right: 0;
}