<div class="container">

  <app-idea-state class="state"
    title="Development"
    (selectIdea)="handleSelectIdea($event)"
    [currentUserId]="currentUserId"
    [ideaCycles]="development$ | async"
    [tasks]="developmentTasks$ | async">
  </app-idea-state>

  <app-idea-state class="state"
    title="Doing"
    (selectIdea)="handleSelectIdea($event)"
    [currentUserId]="currentUserId"
    [ideaCycles]="doing$ | async"
    [tasks]="doingTasks$ | async">
  </app-idea-state>

</div>


