<div class="container">
  <h1 mat-dialog-title>Edit abilities</h1>
  <div mat-dialog-content>
    <p>
      Select an existing ability to add to your profile, or create & add a new ability
    </p>

    <mat-input-container>
      <input type="text" matInput
        placeholder="Ability"
        [formControl]="ability"
        [matAutocomplete]="auto"
        [disabled]="selectedAbilities.length > 3">
    </mat-input-container>

    <button mat-mini-fab color="primary" appMarginLeft
      [disabled]="!ability.value || selectedAbilities.length > 3"
      (click)="select(ability)">
      <mat-icon>add</mat-icon>
    </button>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let ability of $filteredAbilities | async" [value]="ability.title">
        {{ ability.title }}
      </mat-option>
    </mat-autocomplete>

    <p *ngIf="selectedAbilities.length === 0">
      You have no selected abilities.
    </p>

    <mat-chip-list>
      <mat-chip *ngFor="let selectedAbility of selectedAbilities" appMarginLeft
          color="accent"
          selected="true">
        {{selectedAbility}}
        <mat-icon class="inline-icon"
          (click)="remove(selectedAbility)">
          delete
        </mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="dialogRef.close(selectedAbilities)">Save</button>
    <button appMarginLeft mat-button (click)="dialogRef.close()">Cancel</button>
  </div>
</div>