.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.toolbar1 {
  box-shadow: none;
}

.filler {
  min-height: 600px;
}

mat-input-container, mat-input-container > * {
  transform: scale(0.8);
  margin-left: 0;
}