<div appPadding>
  <mat-card>
    <mat-card-subtitle>Folk, and such like</mat-card-subtitle>
    <mat-card-title>Users</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item
          *ngFor="let user of users"
          (click)="selected.emit(user.id)" >
            {{user.id}} : {{user.display_name}}

          <span appFlexFill></span>

          <mat-icon
              (click)="quickEditAbilities.emit({id: user.id, abilities: user.abilities}); $event.stopPropagation()"
              appMarginLeft>
            stars
          </mat-icon>

        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>