
<mat-toolbar color="accent" class="toolbar1">
  Users
</mat-toolbar>

<div class="sticky">
  <mat-toolbar color="accent">
    <mat-input-container>
      <input matInput placeholder="filter...">
    </mat-input-container>
  </mat-toolbar>
</div>


<app-user-list [users]="users | async"
  (selected)="handleSelected($event)"
  (quickEditAbilities)="handleQuickEditAbilities($event)">
</app-user-list>

<div class="filler"></div>