<div appPadding class="user">
  <div class="user-summary">
    <mat-card>
      <mat-card-content>
        <app-user-summary [user]="requestedUser | async"></app-user-summary>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="user-ideas">

  </div>
</div>