@import '~@angular/material/_theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.app-dark-theme {
  $app-dark-primary: mat-palette($mat-light-green, A400);
  $app-dark-accent:  mat-palette($mat-pink, A400, A100, A400);
  $app-dark-warn:    mat-palette($mat-red, A400);

  $app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);

  @include angular-material-theme($app-dark-theme);
}
