<div *ngIf="(ui | async).devtoolsOpen">
  <ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
</div>

<div class="app-container" [class.app-dark-theme]="(ui | async).darkTheme">
  <mat-sidenav-container [class.mat-sidenav-layout-devtools]="(ui | async).devtoolsOpen">
	<mat-sidenav-container>
		<mat-sidenav #tasks mode="over" align="end" class="tasks"
			[opened]="(ui | async).tasksOpen"
			(close)="handleCloseTasks()">

      <app-user-tasks *ngIf="identity.id"
        [tasksTabIndex]="(ui | async).tasksTabIndex"
        [tasks]="identity.tasks"
        [currentUserId]="identity.id">
      </app-user-tasks>
    </mat-sidenav>

    <app-toolbar [id]="identity.id" [tasks]="identity.tasks" class="mat-elevation-z6"></app-toolbar>

    <mat-sidenav-container class="short-sidenav">
      <mat-sidenav #menu mode="side" opened="true" class="mat-elevation-z5 menu">
        <app-menu></app-menu>
      </mat-sidenav>

      <div class="page-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-container>
  </mat-sidenav-container>

<div>
