mat-sidenav-container {
  height: 100%;
}

.short-sidenav {
  height: calc(100% - 64px) !important;
}

mat-sidenav {
  width: 520px;
  min-width: 520px;
}

mat-sidenav.menu {
  width: 180px;
  min-width: 180px;
}

mat-sidenav-layout {
  height: 100% !important;
}

.mat-sidenav-layout-devtools {
  max-width: 70%;
}

.app-container {
  height: 100%;
}

.page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
