<mat-toolbar color="accent">
  <span>IIK Exchange</span>

  <span appFlexFill></span>

  <button mat-button matTooltip="@ngrx devtools" appIconButton appMarginLeft (click)="handleDevClick()">
    <mat-icon>developer_mode</mat-icon>
  </button>

  <button mat-button matTooltip="Assigned to me" appIconButton appMarginLeft *ngIf="id" (click)="toggleTasks(0)">
    {{assignedTasks.length}}
    <mat-icon appMarginLeft>assignment_ind</mat-icon>
  </button>

  <button mat-button matTooltip="In progress" appIconButton appMarginLeft *ngIf="id" (click)="toggleTasks(1)">
    {{inProgressTasks.length}}
    <mat-icon appMarginLeft>assignment</mat-icon>
  </button>

  <button mat-button matTooltip="Awaiting acceptance" appIconButton appMarginLeft *ngIf="id" (click)="toggleTasks(2)">
    {{completedTasks.length}}
    <mat-icon appMarginLeft>assignment_turned_in</mat-icon>
  </button>

</mat-toolbar>
