/*
Make the sidenav backdrop darker
*/
.mat-sidenav-backdrop.mat-sidenav-shown,
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing,
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgb(0, 0, 0) !important;
  opacity: 0.66;
}

.mat-dialog-container {
  padding: 0 !important;
}

/*
Drop shadow on the toolbar, and elevate
*/
mat-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  position: relative;
  z-index: 2;
}

mat-input-container {
  width: 100%;
  max-width: 300px;
}

mat-sidenav-container {
  height: 100% !important;
}

mat-sidenav.tasks {
  min-width: 400px;
}

img[mat-card-avatar] {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.notification-success .mat-simple-snackbar {
  color: #76ff03;
}

.notification-error .mat-simple-snackbar, {
  color: whitesmoke;
}

snack-bar-container.notification-success {
  background-color: #333333;
}

snack-bar-container.notification-error {
	background-color: #ff3d00;

	.mat-simple-snackbar-action {
		color: #fff;
	}
}


.mat-menu-content {
  padding: 0 !important;
}