<div appPadding class="overlay" *ngIf="visible" [@fadeIn]>
  <div class="inner">
    <div *ngIf="message">
      <p>
        {{message}}
      <p>
    </div>
    <div>
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
