<div class="sticky">
  <mat-toolbar color="accent">
    Impact, Innovation & Knowledge Exchange
  </mat-toolbar>
</div>

<div *ngIf="!(identity | async).id">
  <app-google-auth></app-google-auth>
</div>

<div *ngIf="(identity | async).id">
  <app-dashboard></app-dashboard>
</div>
