<div class="app-dark-theme container">

  <app-overlay [visible]="saving">
  </app-overlay>

  <mat-card>
    <mat-card-subtitle *ngIf="!!subTitle">{{subTitle}}</mat-card-subtitle>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content>

      <app-idea-form (formState)="handleFormStateChange($event)"></app-idea-form>

    </mat-card-content>

    <mat-card-actions class="add-idea-form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!canSave"
          (click)="save()">
          Save
        </button>

      <button mat-button (click)="dialogRef.close()">Cancel</button>

    </mat-card-actions>
  </mat-card>

</div>