<form [formGroup]="ideaForm" novalidate>
  <mat-input-container>
    <input matInput [maxlength]="titleMaxlength" formControlName="title" placeholder="idea title *">
    <mat-hint align="end">
      {{ideaForm.controls.title.value ? ideaForm.controls.title.value.length : 0}} / {{titleMaxlength}}
    </mat-hint>
  </mat-input-container>

  <div class="error input-error">
    <span *ngIf="ideaForm.controls.title.errors && ideaForm.controls.title.touched">
          Title is required, minimum length {{titleMinlength}}
        </span>
  </div>

  <mat-input-container>
    <input matInput [maxlength]="descriptionMaxlength" formControlName="description" placeholder=" description">
    <mat-hint align="end">
      {{ideaForm.controls.description.value ? ideaForm.controls.description.value.length : 0}} / {{descriptionMaxlength}}
    </mat-hint>
  </mat-input-container>

  <div class="error input-error">
    <span *ngIf="ideaForm.controls.description.errors && ideaForm.controls.description.value">
          Minimum length {{descriptionMinlength}}
        </span>
  </div>
</form>